.unsplash0awzdk8nk2i {
    position: relative;
    width: 100%;
    height: 735px;
    background-image: url(./public/unsplash0awzdk8nk2i@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.4;
  }
  